.dashboard-content{
    width: 100%;
    min-height: 100vh;
    display: flex;
    overflow: clip;
    background-color: #ffffff;
}

.selective-content{
    /* display: flex; */
    position: relative;
    /* margin-left: 4.5vw;
    width: calc(100% - 4.5vw); */
    width: 100%;
    flex: 1;        
    min-height: 250vh;
    height: auto;
    background-color: #ffffff;
    
}
.dasNav{
    position: sticky;
    top: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    /* width: calc(100% - 4.5vw); */
    left: auto;
    /* right: 0; */
    width: 100%;
    height: 10vh;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 3px 0px, rgba(0, 0, 0, 0.06) 0px 1px 2px 0px;
    padding: 0px 40px;
    background-color: rgb(255, 255, 255, 0.8);
    z-index: 1000;
    max-width: none!important;
}
.dasNav h1{
    color: #000;
    font-size: 25px;
    font-family: "Noto Serif JP", serif;
}

.search{
    display: flex;
    justify-content: center;
    align-items: center;
    
}
.search input{
    width: 25vw;
    height: 30px;
    border-radius: 10px;
    background-color: rgb(232, 231, 231);
    color: #656565;
    text-align: center;
}
.search input:hover{
    /* border-bottom: #000 1px solid; */
    border-top: #000 1px solid;
    background-color: rgb(255, 255, 255);
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1); 
}
.userInfo{
    display: flex;
    align-items: center;
    gap: 20px;
}
.part-content-area{
    position: relative;
    /* top: 10vh; */
    /* left: 10vw; */
    width: 100%;
    min-height: calc(100% - 10vh);
    height: auto;
    display: flex;
    flex-direction: column;
    /* align-items: flex-start; */
    align-items: center;
    padding: 50px 20px;
    background-color: #ffffff;
    border-radius: 10px;
    overflow: visible;
    z-index: 1;
    gap: 8vh;
    max-width: none!important;
}
.part-content-area-top,
.part-content-area-bottom,
.part-content-area-center{
    display: flex;
    justify-content: center;
    gap: 40px;
}

.part-content-area-top,
.part-content-area-bottom,
.part-content-area-center{
    width: 100%;
    height: 70vh;
}
.favSection{
    width: 40%;
    height: 100%;
}
.journey-card,
.travel-stat-card,
.favourite-destination-card,
.photo-gallery-card,
.Weather-card{
    width: 35vw;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 30px;
    /* box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px; */
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
}
.journey-card:hover,
.travel-stat-card:hover,
.favourite-destination-card:hover,
.photo-gallery-card:hover,
.Weather-card:hover{
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;

}
.favSection{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 30px;
    /* box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px; */
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
}
.photo-gallery-card p{
    padding: 10px 60px;
    color: #939292;
    text-align: center;
}
.favSection:hover{
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}
.part-content-area h1{
    color: #000;
    font-family: "Poppins", serif;
    font-size: 20px;
    margin-bottom: 40px;
}
.gallery_default{
    margin-bottom: 40px;
    width: 200px;
}
.gallery_default img{
    width: 100%;
    height: 100%;
}
.part-content-area-bottom h2,
.favSection h2,
.travel-stat-card h2,
.Weather-card h2,
.journey-card h2{
    font-size: 25px;
    color: #000;
    margin: 0;
    padding: 0;
    font-weight: 700;
}
.favSection p{
    padding: 10px 100px;
    text-align: center;
    color: #939292;
}
.travel-stat-card p,
.Weather-card p,
.journey-card p{
    text-align: center;
    color: #939292;
    padding: 10px 70px;
}
.travel_default,
.journey_default{
    margin-bottom: 20px;
    width: 60%;
    height: auto;
}
.travel_default img,
.journey_default img{
    width: 100%;
    height: auto;
}
.travel-stat-card h2{
    margin-bottom: 10px;
}




@media (min-width: 1600px) {
    .journey-card,
    .travel-stat-card,
    .favourite-destination-card,
    .photo-gallery-card,
    .Weather-card,
    .favSection{
        justify-content: center;
    }
    .journey-card h1,
    .travel-stat-card h1,
    .favourite-destination-card h1,
    .photo-gallery-card h1,
    .Weather-card h1,
    .favSection h1{
        font-size: 25px;

    }
    .weather_default{
        width: 12vw;
        height: auto;
    }
    .weather_default img{
        width: 100%;
        height: auto;
    }
}
