
.column-nav{
    position: sticky;
    top: 0;
    padding: 5px 15px;
    width: 72px;                 /* collapsed */
    transition: width 0.3s ease;
    flex-shrink: 0;  
    height: 100vh;
    background-color: #041643;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    align-items: center;
    z-index: 1001;
    /* max-width: 90px; */
}
.column-nav:hover{
    width: 260px;
    align-items: flex-start;
    /* max-width: none; */
}

.column-nav .logo{
    position: relative;
    width: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 10px;
    font-family: "Nova Cut", sans-serif;
    font-size: 25px;
    margin-bottom: 3vh;
}
.column-nav .logo span {
    /* display: none; */
    opacity: 0;
    transition: opacity 0.3s ease-in;
}
.column-nav:hover .logo span {
    /* display: block; */
    opacity: 1;
}
.column-nav .logo{
    width: 4vw;
    height: auto;
}
.column-nav .logo .logo-img {
    width: 4vw;
    height: auto;
}
.text-content {
    position: relative;
    width: 100%;
}
.text-content .span-div span {
    color: #88888a;
    font-size: 20px;
    font-family: "Noto Serif JP", serif;
    font-weight: 300;
    transition: opacity 0.3s ease-in-out;
    opacity: 0;
    visibility: hidden;
}
.column-nav:hover .text-content .span-div span {
    opacity: 1;
    visibility: visible;
}
.text-content .span-div {
    position: relative;
    margin-bottom: 3vh;
}

.text-content ul li {
    position: relative;
    margin-bottom: 10px;
    font-family: 'Poppins', sans-serif;
    padding: 10px 5px;
    /* border-radius: 15px; */
    display: flex;
    max-height: 50px;
}

.nav-flex{
    margin-bottom: 60px;
    position: relative;
}
.nav-div{
    display: flex;
    align-items: center;
    gap: 4px;
    color: #ffffff;
}
.nav-icon svg{
    width: 100%;
    height: 100%;
    color: #ffffff;
}
.nav-icon {
    width: 2vw;
    height: 3.5vh;
    flex-shrink: 0;
    display: flex;
    align-items: center;
    justify-content: center;
}
.text-content ul li:hover{
    color: black;
    background-color: #ffffff;
    border-radius: 15px;
}
.text-content ul li:hover svg{
    color: black;
}
.column-nav .text-content ul li .nav-div span{
    opacity: 0;
    white-space: nowrap;
    transition: opacity 0.3s ease-in;
}
.column-nav:hover .text-content ul li .nav-div span{
    opacity: 1;
}
.nav-flex li:hover .nav-div span,
.nav-flex1 li:hover .nav-div span{
    color: rgb(0, 0, 0);
}